.cart-wrapper {
    margin: 5px 0;
    height: 500px;
    width: 99vw;
    max-height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.cart-item {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 5px 10px;
}
.cart-item-image {
    height: 60px;
    width: 60px;
    margin: 5px;
}
.cart-item-info {
    margin: 5px 0px;
    padding: 5px 15px 0 0;
}
.cart-title-div {
    display: flex;
    align-items: flex-end;
}
.cart-item-brand {
    font-size: 16px;
    font-weight: 300;
    margin-right: 5px;
}
.cart-item-title {
    font-size: 14px;
    font-weight: 200;
}
.cart-item-details {
    width: 200px;
}
.cart-item-detail {
    font-size: 10px;
    padding: 0 15px 0 0;
}
.cart-item-price {
    margin-top: 3px;
    font-size: 16px;
    font-weight: 500;
}
.cart-item-quantity {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.cart-item-plusminus {
    background-color: #1096bf;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.plus, .minus {

    margin-top: -4px;
    font-size: 24px;
    font-weight: 500;
    color: white;
}
.minus {
    font-size: 30px;
    margin-top: -6px;
}
.quant {
    font-size: 20px;
    width: 30px;
    text-align: center;
}
.checkout-wrapper {
    width: 92vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffe9bd;
}
.cart-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.checkout-btn {
    margin: 20px;
    width: 120px;
    height: 40px;
    background-color: #084c61;
    color: white;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}