.item * {
    padding: 0 0;
}
.item-page-wrap {
    width: 80%;
    padding: 15px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item-page-brand, .item-page-title, .item-page-desc, .item-page-detail {
    font-weight: lighter;
}
.item-page-brand {
    font-size: 1.5rem;
    align-self: flex-start;
    font-weight: 150;
}
.item-page-title {
    font-size: 1.25rem;
    align-self: flex-start;
}
.item-page-img-wrap {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}
.item-page-img {
    padding: 5px;
    max-height: 180px;
    object-fit: contain;
}

.item-page-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}
.item-page-details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: rgba(0, 0, 0, 0.747);
    margin-top: -10px;
    margin-bottom: 10px;
}
.item-page-detail {
    font-size: 0.8rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.747);
}
.item-page-desc {
    width: 95%;
    font-size: 0.85rem;
    margin-bottom: 10px;
}
.price-div {
    margin: 5px 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item-page-price {
    font-size: 1.5rem;
    margin-bottom: 5px;
}
.cart-btn-div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 220px;
    background-color: #084C61;
    border-radius: 3px;
    cursor: pointer;
}
.cart-btn {
    background-color: #084C61;
    border: none;
    border-radius: 3px;
    height: 40px;
    margin: 5px;
    width: 150px;
    cursor: pointer;
    font-weight: bolder;
    color: white;
    font-size: 1rem;
}
.cart-btn.active {
    margin-left: 30px;
}
.added-icon-div {
    opacity: 0%;
    position: absolute;
    margin-right: 165px;
    height: 30px;
    width: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2125s ease-out;
}
.added-icon-div.active {
    opacity: 100%;
    transition: opacity 0s;
}
.added-icon {
    color: white;
    font-size: 28px;
}