@keyframes counterShake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 50% {
    transform: translateX(-2px);
  }
  30%, 70% {
    transform: translateX(2px);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  height: calc(100% - 11rem);
  min-height: calc(100% - 11rem);
}

#root {
  height: 100%;
}

.btn {
  border: none;
  cursor: pointer;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  text-decoration: none;
}

.searchbar {
  position: absolute;
  bottom: 1rem;
}

.search__input {
  text-align: center;
  width: 90%;
  height: 4rem;
  font-size: 2rem;
  background-color: #fff;
  border: none;
}
.search__input.active {
  text-align: start;
}

.search__icon {
  position: absolute;
  right: 2.5rem;
  height: 3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  pointer-events: none;
}
.search__icon--active {
  pointer-events: all;
  position: absolute;
  right: 0.5rem;
}

.search-results__list {
  list-style: none;
  position: absolute;
  margin: 18rem 1rem 0 1rem;
  background-color: #fff4df;
  width: calc(100% - 2rem);
  opacity: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
.search-results__list.active {
  max-height: 15rem;
  opacity: 1;
}

.search__item {
  display: inline-block;
  margin: 0 0.5rem;
  padding: 1rem 0;
  width: 97%;
}
.search__item:hover {
  background-color: #ffde9b;
}

.search__text {
  display: flex;
  align-items: center;
  color: #084c61;
}
.search__text--brand {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 1rem;
}
.search__text--title {
  font-size: 1.5rem;
  font-weight: 500;
}
.search__text--format, .search__text--type, .search__text--iso {
  font-size: 1.25rem;
  margin-right: 2rem;
  color: #0d7da0;
}
.search__text--format {
  font-weight: 600;
  color: #084c61;
}

.preview__box {
  position: relative;
  width: 95%;
  height: 95%;
  padding: 3rem;
  box-shadow: 0 0.25rem 0.175rem 0 rgba(0, 0, 0, 0.15);
  transition: all 0.1s ease;
}
.preview__box:hover {
  transform: scale(1.015);
  box-shadow: 0 0.375rem 0.275rem 0 rgba(0, 0, 0, 0.2);
}

.preview__btn {
  position: absolute;
  top: 2.85rem;
  right: 2rem;
  background-color: #0d7da0;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.125s ease-in;
}
.preview__btn--icon {
  color: #fff;
}
.preview__btn:hover {
  transform: scale(1.075);
  box-shadow: rgba(0, 0, 0, 0.15) 0.195rem 0.195rem 0.5rem;
}
.preview__btn.active {
  transform: scale(1.25);
  background-color: #084c61;
}
.preview__btn--icon {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.preview__heading-primary {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #084c61;
  text-align: center;
}

.preview__img {
  display: block;
  margin: 0 auto;
  padding: 1rem;
  max-height: 130px;
  object-fit: contain;
}

.preview__heading-secondary {
  font-size: 1.6rem;
  font-weight: 600;
  color: #084c61;
  text-align: center;
}

.preview__details {
  display: flex;
  justify-content: space-between;
}

.preview__text {
  margin: 0.5rem 0;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0 1rem;
  color: #11a2cf;
}

.preview__price {
  text-align: center;
  font-weight: 800;
  font-size: 1.8rem;
  color: #031b22;
}

.options {
  background-color: #ffde9b;
  padding: 0.5rem 0;
  height: 10rem;
  width: 90%;
  margin: 0 auto;
}

.filter__list {
  list-style: none;
  display: flex;
  justify-content: center;
}
.filter__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filter__label {
  font-size: 1.7rem;
  font-weight: 600;
  margin-left: -1rem;
}
.filter-data {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
}
.filter-data::after {
  content: "";
  margin: 0.5rem;
  width: 1rem;
  height: 0.5rem;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.filter__select {
  appearance: none;
  background-color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.25rem;
  width: 100%;
  outline: none;
}
.filter__select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid blue;
  pointer-events: none;
}

.sort {
  display: flex;
  justify-content: center;
}
.sort__label {
  font-size: 1.7rem;
  font-weight: 600;
  margin-right: 0.5rem;
}
.sort__list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 1rem 0rem 1rem;
  align-items: center;
}
.sort-data {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 0.5rem 0;
  margin-right: 0.5rem;
}
.sort-data::after {
  content: "";
  margin: 0.5rem;
  width: 1rem;
  height: 0.5rem;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
.sort__select {
  appearance: none;
  background-color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.25rem;
  width: 100%;
  outline: none;
}
.sort__select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid blue;
  pointer-events: none;
}

.shop-path {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.5rem auto;
  background-color: #fff;
  color: #084c61;
  width: 90%;
}

.shop-grid {
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 300px));
  grid-template-rows: repeat(auto-fill, minmax(220px, 1fr));
}

.cart-item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  box-shadow: 0 0.25rem 0.175rem 0 rgba(0, 0, 0, 0.15);
}
.cart-item--inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
.cart-item__img {
  width: 20%;
  height: 20%;
}
.cart-item__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cart-item__heading {
  display: flex;
  align-items: center;
}
.cart-item__heading--primary {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: #031b22;
}
.cart-item__heading--secondary {
  font-size: 1.6rem;
  font-weight: 500;
  height: 2rem;
  color: #084c61;
}
.cart-item__quantity {
  display: flex;
  align-items: center;
}
.cart-item__counter {
  width: 3rem;
  text-align: center;
  padding: 0 0.5rem;
  font-size: 1.5rem;
}
.cart-item__btn {
  background-color: #0d7da0;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-item__btn--icon {
  color: #fff;
}
.cart-item__btn:hover {
  transform: scale(1.075);
  box-shadow: rgba(0, 0, 0, 0.15) 0.195rem 0.195rem 0.5rem;
}
.cart-item__btn.active {
  transform: scale(1.25);
  background-color: #084c61;
}
.cart-item__details {
  display: flex;
  justify-content: space-between;
}
.cart-item__text {
  font-size: 1.5rem;
  color: #0d7da0;
}
.cart-item__price {
  font-size: 2rem;
  font-weight: 500;
  align-self: flex-end;
  margin-top: 0.25rem;
  color: #031b22;
}

.payment {
  position: absolute;
  background-color: #fff;
  width: calc(100vw - 4rem);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.payment__heading {
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment__heading--primary {
  font-size: 1.8rem;
  text-transform: uppercase;
}
.payment__icons {
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.payment__icon {
  font-size: 1.8rem;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.form__label {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.form__input {
  height: 2.5rem;
  margin-bottom: 0.5rem;
}
.form--row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 25rem;
  background-color: #084c61;
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
.form__btn:active {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.1rem);
}
.form__btn:disabled {
  background-color: #455155;
  color: #dbdbdb;
  box-shadow: 0 0 0 0;
}

.exp {
  width: 12rem;
  text-align: center;
}

.cvv {
  width: 7.5rem;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 11rem;
  padding: 0 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1;
  transition: all 0.5s cubic-bezier(0.6, 0.04, 0.5, 1);
}
.header.open {
  background-color: #ffc857;
  transform: translateX(50%);
  transform: translateX(0);
}

.hamburger {
  height: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  transition: all 0.1s ease-in-out;
}
.hamburger__line {
  width: 3rem;
  height: 0.2rem;
  border-radius: 20px;
  background-color: #000;
  transition: all 0.15s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
.hamburger__line:nth-child(1) {
  width: 3rem;
}
.hamburger__line:nth-child(2) {
  width: 2.75rem;
  transition: all 0.08s ease-in-out;
}
.hamburger.open {
  transform: translateX(-1rem);
}
.hamburger.open .hamburger__line {
  height: 2px;
  width: 3rem;
}
.hamburger.open .hamburger__line:nth-child(1) {
  transform: rotate(45deg) translate(12.5px);
}
.hamburger.open .hamburger__line:nth-child(3) {
  transform: rotate(-45deg) translate(12.5px);
}
.hamburger.open .hamburger__line:nth-child(2) {
  width: 0px;
  height: 0.1rem;
}

.logo__img {
  height: 4rem;
}

.cart--icon {
  position: relative;
  height: 5rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart--icon__img {
  height: 3.5rem;
}

.cart--icon__counter {
  position: absolute;
  top: -0.01rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #084c61;
  color: #fff;
  border-radius: 100%;
  height: 2rem;
  width: 2rem;
  font-size: 1.1rem;
  font-weight: 800;
}

.cart--icon__counter.active {
  transform: scale3d(1.5);
  animation: counterShake 0.4s cubic-bezier(0.1, 0.01, 0.01, 0.02);
}

.menu {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100vw;
  margin-top: 11rem;
  padding-top: 2.5rem;
  transform: translateX(-105%);
  transition: all 0.3s cubic-bezier(0.6, 0.04, 0.5, 1);
  z-index: 2;
}
.menu.open {
  background-color: #ffc857;
  transform: translateX(0);
}
.menu__link {
  display: block;
}

.menu__item {
  min-height: 5rem;
}

.btn--menu {
  background-color: inherit;
  width: 100%;
  padding: 1rem 4.5rem;
  font-size: 3rem;
  color: #084c61;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu--arrow {
  color: #084c61;
  font-size: 3rem;
}

.submenu {
  width: 100vw;
  padding: 0 4.5rem;
  display: flex;
  flex-direction: column;
  max-height: 0rem;
  background-color: #ffc857;
  transform: translateX(-100rem);
  transition: max-height 0.3s ease, background-color 0.5s ease, transform 0.01s ease;
}
.submenu.open {
  background-color: #ffde9b;
  max-height: 30rem;
  transform: translateX(0);
}

.submenu__link {
  display: block;
  color: #084c61;
  padding: 0.5rem;
  font-size: 2.5rem;
  font-weight: 500;
  opacity: 0%;
  transition: transform 0.01s ease, opacity 0.3s ease-out;
}
.submenu__link.open {
  transform: translateX(0);
  opacity: 1;
}

.submenu--iso {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.submenu--brands {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.page {
  position: relative;
  margin: 0 auto;
  margin-top: 11rem;
  padding: 0 2rem;
  height: 100%;
}

.fallback {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fallback__text {
  font-size: 2rem;
  color: #11a2cf;
}

.home {
  position: relative;
  height: 100%;
  margin-top: 2.5rem;
}
.home__main {
  border: solid;
  height: calc((100% - 11rem * 2) - 4rem);
}

.home__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 11rem;
  width: 100%;
  margin: 1rem 0;
  color: #084c61;
  background-color: #ffde9b;
}
.home__item--shop {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 3.6rem;
  font-weight: 600;
}
.home__item--arrow {
  position: absolute;
  right: 2.5rem;
  font-size: 4rem;
  margin-top: 0.4rem;
}
.home__item--img {
  height: 100%;
  width: 100%;
}
.home__item--title {
  position: absolute;
  color: #084c61;
  font-weight: 800;
  font-size: 4rem;
}

.shop {
  margin-top: 2.5rem;
  width: calc( 100vw - 4rem );
}

.category {
  margin-top: 2.5rem;
  width: calc( 100vw - 4rem );
}

.item {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item__heading-primary {
  font-size: 3rem;
  text-transform: uppercase;
  color: #084c61;
}
.item__heading-secondary {
  font-size: 2rem;
  color: #084c61;
}
.item__heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
}
.item__img {
  padding: 1rem;
  width: 50%;
}
.item__details {
  display: flex;
  justify-content: space-between;
}
.item__text {
  font-size: 1.8rem;
  padding: 1rem;
  color: #11a2cf;
  font-weight: 700;
}
.item__price {
  font-size: 2.8rem;
  font-weight: 600;
  color: #031b22;
}
.item__description {
  width: 85%;
  font-size: 1.8rem;
  color: #084c61;
  padding-bottom: 1rem;
}

.add-to-cart__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 25rem;
  background-color: #084c61;
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
.add-to-cart__btn:active {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.1rem);
}
.add-to-cart__btn:disabled {
  background-color: #455155;
  color: #dbdbdb;
  box-shadow: 0 0 0 0;
}
.add-to-cart__btn .active {
  pointer-events: none;
}
.add-to-cart__btn--icon {
  position: absolute;
  left: 1.5rem;
  font-size: 3rem;
  margin-right: 2rem;
  opacity: 0;
}
.active .add-to-cart__btn--icon {
  opacity: 1;
}

.cart {
  position: relative;
  height: 100%;
}
.cart-list {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.cart-checkout {
  position: absolute;
  bottom: 0;
  background-color: #ffde9b;
  min-height: 10rem;
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cart-checkout--total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-checkout--subtotal {
  font-size: 3rem;
  font-weight: 600;
  text-transform: lowercase;
  color: #084c61;
}
.cart-checkout--price {
  font-size: 3rem;
  font-weight: 500;
  color: #084c61;
}
.cart-checkout--total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-checkout--subtotal {
  font-size: 3rem;
  font-weight: 600;
  text-transform: lowercase;
  color: #084c61;
}
.cart-checkout--price {
  font-size: 3rem;
  font-weight: 500;
  color: #084c61;
}
.cart-checkout__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 25rem;
  background-color: #084c61;
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
.cart-checkout__btn:active {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.1rem);
}
.cart-checkout__btn:disabled {
  background-color: #455155;
  color: #dbdbdb;
  box-shadow: 0 0 0 0;
}

.checkout {
  margin-top: 2.5rem;
  width: calc(100vw - 4rem);
}
.checkout__heading {
  font-size: 2.5rem;
  font-weight: 500;
  margin: 0.5rem;
  text-transform: uppercase;
  color: #031b22;
  text-align: center;
}

.order__list {
  min-height: 30rem;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.order__heading {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0.5rem 0;
  text-align: center;
}
.order__heading--text {
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: underline;
}
.order-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 3.5rem;
  width: 100%;
  margin: 0.5rem 0;
}
.order-item__heading {
  margin-left: 1rem;
}
.order-item__heading--primary {
  font-size: 1.5rem;
  font-weight: 500;
}
.order-item__heading--secondary {
  position: absolute;
  font-size: 1.125rem;
  font-weight: 400;
  grid-row: span 3;
}
.order-item--text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

.checkout-submit {
  background-color: #ffde9b;
  min-height: 10rem;
  padding: 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout-submit--total {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.checkout-submit--subtotal {
  font-size: 3rem;
  font-weight: 600;
  text-transform: lowercase;
  color: #084c61;
}
.checkout-submit--price {
  font-size: 3rem;
  font-weight: 500;
  color: #084c61;
}
.checkout-submit__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 25rem;
  background-color: #084c61;
  cursor: pointer;
  font-size: 2.25rem;
  font-weight: 600;
  color: #fff;
  padding: 1.5rem;
  margin: 1rem 0;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.6);
}
.checkout-submit__btn:active {
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.5);
  transform: translateY(-0.1rem);
}
.checkout-submit__btn:disabled {
  background-color: #455155;
  color: #dbdbdb;
  box-shadow: 0 0 0 0;
}

/*# sourceMappingURL=App.css.map */
