.cat-items-grid {
    margin: 10px auto;
    width: 95%;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 3px;
    grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}
.cat-item-wrap {
    margin: 10px 0;
    width: 95%;
    max-height: 200px;
}
a.grid-preview-link:hover {
    transform: scale(1.025);
}
/* .cat-item-wrap::before {
    padding-top: 100%;
} */
.grid-preview-img-wrap {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;

}
.grid-preview-img {
    height: 60%;
}
.grid-preview-title {
    width: 90%;
    font-size: 0.75rem;
}