* {
    margin: 0;
    padding: 0;
}
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
/* MOBILE FIRST */
.page {

}

input {
    height: 25px;
    border: none;
}